nvim-data/
.vim/
*.jar
configstore/
config/nvim/.config/nvim/plugin/packer_compiled.lua
nvim/after/plugin/gist.lua
bkp/
fish_variables
fish_plugins
config/fish/.config/fish/fundle
config/fish/.config/fish/functions
config/fish/.config/fish/conf.d
config/fish/.config/fish/completions
fishd.tmp.*
