[user]
  email = pedrohms412@gmail.com
  name = Pedro Souza
  signingkey = Pedro Souza
[safe]
	directory = /mnt/dados5/VM/Virtual Machines/qemu/Sistemas
[core]
	editor = nvim
[commit]
	gpgsign = true
[init]
	defaultBranch = main
